<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>
<p>
  <b>Status:</b>
  <%= @task.status.name %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @task.notes %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority.name %>
</p>

<p>
  <b>Browser version:</b>
  <%= @task.browser_version %>
</p>
<p>
  <b>Assigned to:</b>
  <%= @task.user.name %>
</p>


<%= link_to 'Edit', edit_project_task_path(@task.project_id, @task.id) %> |
<%= link_to 'Back', project_path(@task.project_id) %>
