<h1>Listing projects</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th>Actions</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.due_date.to_date %></td>
    <td><%= link_to 'View', project, :class => 'btn btn-primary' %>
		<%= link_to 'Edit', edit_project_path(project), :class => 'btn' %>
		<%= link_to 'Delete', {'action' => 'delete', :id => project.id}, :class => 'btn btn-danger' %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path, :class => 'btn btn-success' %>
